.hero{
    background-color: #61c4d9;
    background-image: url("../img/hero/hero-bg1.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    padding-bottom: 50px;
    @include lView { 
        background-size: auto;
        background-position: top right;
        padding-bottom: 0;
    } 
}
.hero-content{
    display: flex;
    margin: auto;
    @include lView { 
        flex-direction: column;
        margin: unset;
        align-items: center;
    } 
    @include mView { 
        margin: auto;
    }
    @include mhView { 
        margin: auto;
    }
}
.hero__container{
    display: flex;
    height: 100%; 
    position: relative; 
    &::after{
        content: "";
        position: absolute;
        width: 1056px;
        height: 355px;
        bottom: -110px;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        left: -3.125rem;
        background-image: url("../img/hero/leaves.png");
        @include fxlView { 
            width: 1300px;
            height: 420px;
            left: -10.125rem;
        } 
        @include lView { 
            display: none;
        } 
    }  
    &::before{
        content: "";
        position: absolute;
        width: 387px;
        height: 286px;
        background-size: cover;
        background-repeat: no-repeat;
        bottom: -110px;
        right: -4px;
        background-image: url("../img/hero/main-berries.png");
        @include fxlView { 
            width: 28.1875rem;
            height: 20.875rem;
            right: -6.25rem;
        } 
        @include lView { 
            display: none;
        } 
    } 
}
.hero-content__left,
.hero-content__right{
    position: relative;
    width: 45%;
    @include fxlView { 
        width: 48%;
    } 
    @include lView { 
        width: 420px;
    } 
}
.hero-content__left{
    @include lView { 
        order: 2;
    } 
}

.hero-content__right{
    @include lView { 
        order: 1;
        margin-bottom: 30px;
    margin-top: -10px;
    } 
}


