section.hero
    .hero__container.container
        header.header
            .logo cho cco
            nav.nav
                ul.nav-list
                    li.nav-list__item 
                        a(href="#") О нас
                    li.nav-list__item
                        a(href="#") Батончики
                    li.nav-list__item
                        a(href="#") Команда
                    li.nav-list__item
                        a(href="#") Меню
                    li.nav-list__item
                        a(href="#") Отзывы
                    li.nav-list__item
                        a(href="#") Как мы работаем
                    li.nav-list__item
                        a(href="#") Контакты
            address.telephone 8 800 903 90 90
        .hero-content
            .hero-content__left.candy-info
                h1.candy-info__title натуральные шоколадные батончики
                p.candy-info__slogan Наши батончики идеально подходят для тех, кто следит за своим здоровьем
                button(name="button" class=".candy-info__btn btn") Заказать
            .hero-content__right.main-berries
                .candy
        ul.advantages
            li.advantages__item.advantage
                .advantage__pic
                    img(src="img/icons/5.svg").advantage__icon
                .advantage__text 100% натуральный продукт
            li.advantages__item.advantage
                .advantage__pic
                    img(src="img/icons/6.svg").advantage__icon
                .advantage__text 3-5 дней доставка по РФ
            li.advantages__item.advantage
                .advantage__pic
                    img(src="img/icons/4.svg").advantage__icon
                .advantage__text Не портит фигуру