section.map.section#sec9
    .map__content#map
    footer.footer
        .footer__container.container 
            .footer__left
                .direction
                    p.direction__text Минск, ул.Новый Арбат, д.31/12
                address.telephone.footer__telephone
                    a(href="tel:+88009039090").telephone__link 8 800 903 90 90
            .footer__right
                ul.socials
                    li.socials__item.social
                        a(href="#").social__link
                            img(src="img/footer/vk.svg", alt="social").social__img
                    li.socials__item.social
                        a(href="#").social__link
                            img(src="img/footer/f.svg", alt="social").social__img
                    li.socials__item.social
                        a(href="#").social__link
                            img(src="img/footer/inst.svg", alt="social").social__img
                    li.socials__item.social
                        a(href="#").social__link
                            img(src="img/footer/tw.svg", alt="social").social__img