section.menu
    h2.menu__title Меню 
    ul.menu-list
        li.menu-list__item.dish
            a(href="#").dish__title 
                span.dish__title-text Батончики с молоком
            .dish__text 
                .dish__text-info Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее. Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы. 
                    .dish__text-close
        li.menu-list__item.dish
            a(href="#").dish__title 
                span.dish__title-text С мёдом и фруктами
            .dish__text 
                .dish__text-info Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее. Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы. 
                    .dish__text-close
        li.menu-list__item.dish
            a(href="#").dish__title 
                span.dish__title-text Дикие ягоды
            .dish__text 
                .dish__text-info Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее. Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы. 
                    .dish__text-close