section.reviews.section#sec6
    .reviews__container.container   
        h2.reviews__title Отзывы
        ul.reviews-list
            li.reviews-list__item
                .feedback__left.feedback-autor
                    img(src="img/reviews/1.png", alt="autor").feedback-autor__pic
                .feedback__right.feedback-about
                    .feedback-about__title Лучший перекус
                    p.feedback-about__dec Я ем малыми порциями, но часто. Это повышает мою продуктивность в разы. В течение дня сижу за компьютером 
                        | и часто отходить в кафе или на кухню просто не могу себе позволить. А батончик – он всегда под рукой. Это приятно 
                        |и удобно. 
                    p.feedback-about__autor Алёна Хмельницкая
            li.reviews-list__item
                .feedback__left.feedback-autor
                    img(src="img/reviews/2.png", alt="autor").feedback-autor__pic
                .feedback__right.feedback-about
                    .feedback-about__title Идеально подходят для спортсменов
                    p.feedback-about__dec После тренировок всегда хочется быстро закинуться чем-то белковым, потому что до дома ещё нужно доехать. А кушать хочется. Протеиновые батончики всегда выручают в этом плане. Спасибо производителю за этот качественный и экологичный продукт. 
                    p.feedback-about__autor Вадим Грачев
            li.reviews-list__item
                .feedback__left.feedback-autor
                    img(src="img/reviews/3.png", alt="autor").feedback-autor__pic
                .feedback__right.feedback-about
                    .feedback-about__title Лучшие батончики премиум уровня
                    p.feedback-about__dec Батончики понравились. На мой взгляд слегка завышена цена по сравнению с конкурентами, однако, как говорится – оно того стоит. Нравится носить с собой, нравится держать в руке. Ну и конечно же, кушать. Идеально утоляют голод, хоть и не надолго. Через час уже ем ещё один. Но это скорее плюс, чем минус.
                    p.feedback-about__autor Мария Орлова
        ul.reviews-navigation
            li.reviews-navigation__item.slick-current
                img(src="img/reviews/1.png", alt="autor").reviews-navigation__img
            li.reviews-navigation__item
                img(src="img/reviews/2.png", alt="autor").reviews-navigation__img
            li.reviews-navigation__item
                img(src="img/reviews/3.png", alt="autor").reviews-navigation__img


