section.team.section#sec4
    .team__container.container   
        h2.team__title Команда
        ul.team-list
            li.team-list__item.person
                .person__img
                    img(src="img/team/1.png", alt="person")
                .person__text    
                    .person__name Борис Федорович
                    .person__about 
                        .person__profession Главный технолог
                        p.person__do Отвечает за вкусовые качества и калорийность.
            li.team-list__item.person
                .person__img
                    img(src="img/team/2.png", alt="person")
                .person__text    
                    .person__name Алла Иванова
                    .person__about 
                        .person__profession Специалист по упаковке
                        p.person__do Автор запоминающегося стиля наших батончиков.
            li.team-list__item.person
                .person__img
                    img(src="img/team/3.png", alt="person")
                .person__text    
                    .person__name Кирилл Матросов
                    .person__about 
                        .person__profession Оператор
                        p.person__do С радостью поможет подобрать батончики и оформить заказ. 
            li.team-list__item.person
                .person__img
                    img(src="img/team/4.png", alt="person").person__img-pic
                .person__text    
                    .person__name Мила Рыжкова
                    .person__about 
                        .person__profession PR, маркетинг
                        p.person__do По всем вопросам сотрудничества и рекламы писать только Миле. 
                
