section.working.section#sec7
    .working__container.container 
        h2.working__title Как мы работаем
        .video
            .plyr__video-embed#player
                iframe(
                    src="https://www.youtube.com/watch?v=kSYHYsAaFZA"
                    allowfullscreen
                    allow="autoplay")