@mixin sView {
    @media (max-width: 450px) {
        @content;
    }
}

@mixin mView {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin lView {
    @media only screen and (max-width: 950px){
        @content;
    }
}

@mixin mhView {
    @media (max-width: 950px) and (max-height: 1000px){
        @content;
    }
}

@mixin fxlView {
    @media (min-width: 1200px) and (min-height: 875px){
        @content;
    }
}



body {
    margin: 0;
    padding: 0;
    font-family: 'AlegreyaSans', Arial, Helvetica, sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-size: 1rem;
    font-weight: 600;
    @include mView { 
        font-size: 0.8rem;
    }
    @include sView { 
        font-size: 0.6rem;
    }
    @include mhView { 
        font-size: 0.6rem;
    }
    @media (max-width: 600px) and (max-height: 1000px) {
        font-size: 0.6rem;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p,
h3,
h1,
h2,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include lView {
        width: 95%;
    }
}

.wrapper {
    overflow: hidden;
    //min-width: 1100px;
    //min-height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    @include mhView{
        font-size: 48px;
        line-height: 3rem;
    }
}

.btn {
    color: #0f5a47;
    font-family: "AlegreyaSans";
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fff;
    padding: 20px 35px;
    border-radius: 45px;
    border: 0;
    box-shadow: -2px 3px 10px 1px #0000003b;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
