- 
    var nav = [ 
        { name: 'О нас',    link : "Розовый фильтр"},
        { name: 'Батончики',    link : "Смайлики"}, 
        { name: 'Команда',  link : "Комментарии"},
        { name: 'Меню',     link : "Смайлики"},
        { name: 'Отзывы',   link : "Смайлики"},
        { name: 'Как мы работаем',  link : "Смайлики"},
        { name: 'Контакты',     link : "Смайлики"}
    ]
header.header
    .logo cho cco
    nav.nav
        ul.nav-list
            each val in nav
                li.nav-list__item
                    a(href=val.link class="nav-list__link")= val.name
    address.telephone
        a(href="tel:+88009039090").telephone__link 8 800 903 90 90
    include ../elements/burger.pug