ul.navigation
    li.navigation__item.navigation__item-active
        a(href="#").navigation__link
    li.navigation__item
        a(href="#").navigation__link
    li.navigation__item
        a(href="#").navigation__link
    li.navigation__item
        a(href="#").navigation__link
    li.navigation__item
        a(href="#").navigation__link
    li.navigation__item
        a(href="#").navigation__link
    li.navigation__item.navigation__item-active
        a(href="#").navigation__link