.overflow
    ul.overflow-menu
        li.overflow-menu__item  
            a.overflow-menu__link(href="#sec2") О нас
        li.overflow-menu__item  
            a.overflow-menu__link(href="#sec3") Батончики
        li.overflow-menu__item  
            a.overflow-menu__link(href="#sec4") Команда
        li.overflow-menu__item  
            a.overflow-menu__link(href="#sec5") Меню
        li.overflow-menu__item  
            a.overflow-menu__link(href="#sec6") Отзывы
        li.overflow-menu__item  
            a.overflow-menu__link(href="#sec7") Как мы работаем
        li.overflow-menu__item  
            a.overflow-menu__link(href="#sec8") Контакты
