.overflow
    ul.overflow-menu
        li.overflow-menu__item  
            a.overflow-menu__link(href="#") О нас
        li.overflow-menu__item  
            a.overflow-menu__link(href="#") Батончики
        li.overflow-menu__item  
            a.overflow-menu__link(href="#") Команда
        li.overflow-menu__item  
            a.overflow-menu__link(href="#") Меню
        li.overflow-menu__item  
            a.overflow-menu__link(href="#") Отзывы
        li.overflow-menu__item  
            a.overflow-menu__link(href="#") Как мы работаем
        li.overflow-menu__item  
            a.overflow-menu__link(href="#") Контакты
