.navigation {
  position: fixed;
  top: 32%;
  right: 45px;
  z-index: 100;
  @include lView {
    display: none;
  }
  .navigation__item {
    margin-bottom: 2px;
  }
  .navigation__link {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    &::after {
      content: "";
      width: 6px;
      height: 6px;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #0f5a47;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
    &:hover {
      &:before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1px solid #0f5a47;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
    }
  }
  .navigation__item-active {
    .navigation__link {
      &:before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1px solid #0f5a47;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
    }
  }
}
